* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
  }

body{
    background: linear-gradient(turquoise, black);
}

.header {
  min-height: 10vh;
  width: 100%;
  background: transparent;
  background-position: center;
  background-size: cover;
  position: relative;
  }

nav {
  display: flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}

#tit {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#tit:hover{
    color: black;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  transition: 0.4s;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
    transition: 0.4s;
}

.nav-links ul li a:hover {
    color: #fff;
}

h1 {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
}
/* ----- Companies ----- */
.companies {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 150px 0px;
}

.row {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.container {
    width: 250px;
    height: 250px;
    position: relative;
}

.comp-col {
    display: grid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    border-radius: 5px;
    transition: 0.3s;
    position: absolute;
}

.design {
    background-color: gray;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    transition: 0.3s;
}

.col-title h1 {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}

.container:hover .comp-col{
    background-color: rgba(68, 226, 210, 0.7);
}

.container:hover .design{
    opacity: 0;
}

.col-title {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0%;
  transition: 0.5s;
}

.container:hover .col-title {
    opacity: 1;
    bottom: 47%;
}

nav img {
    width: 300px;
}